{% extends 'base.html'%}
{% block title %}
  <p> {{ group.description }} </p>
  <title>{{ group }}</title>
{% endblock %}
{% block content %}
  <div class="container py-5">     
    <h1>{{ group }}</h1>
    {% for post in page_obj %}
    {% include 'includes/post.html' %}
    <p>{{ post.text }}</p>
      {% if post.group %}   
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %} 
    {% endfor %}
  </div>
{% include 'posts/includes/paginator.html' %}
{% endblock %}    
